*.xlsx filter=lfs diff=lfs merge=lfs -text
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.ini text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
# cod
*.py text eol=lf

# repo meta
*.md text eol=lf
*.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# config
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf